.panda-bg{
    background-color: #fceae8;
}
.panda-btn{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    padding: 0.5rem 2rem;
    color: #fceae8;
    border: none;
}
.panda-orange-bg{
    background-color: orange;
}
.panda-orchid-bg{
    background-color: orchid;
}
.panda-blue-bg{
    background-color: blue;
}
.panda-slider-margin{
    margin-top: 7rem;
}